{{- if not (.Values.useRawApiKeyEnvValue) }}
{{- if eq .Values.existingSecretRef "" -}}
{{- $name := .Values.scalyr.apiKey | required ".Values.scalyr.apiKey is required." -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "scalyr-helm.fullname" . }}-scalyr-api-key
  labels:
  {{- include "scalyr-helm.labels" . | nindent 4 }}
data:
  scalyr-api-key: {{ .Values.scalyr.apiKey | b64enc }}
{{- end }}
{{- end }}
