# Workflow which runs end to end tests against scalyr agent helm chart.
# Those tests verify that the chart can be installed and that it correctly configured agent
# ingestion for various options (daemonset mode, deployment mode, k8s cluster metrics are ingested,
# pod logs are ingested, etc.)
name: "End to End Tests"

on:
  push:
    branches:
      - main
      - end_to_end_tests
  pull_request:
    branches:
      - main
      - end_to_end_tests
  schedule:
    - cron: '0 4 * * *'

jobs:
  # Special job which automatically cancels old runs for the same branch, prevents runs for the
  # same file set which has already passed, etc.
  pre_job:
    name: Skip Duplicate Jobs Pre Job
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@f75dd6564bb646f95277dc8c3b80612e46a4a1ea # v3.4.1
        with:
          cancel_others: 'true'
          github_token: ${{ github.token }}

  daemonset_controller_type:
    name: Daemonset - k8s ${{ matrix.k8s_version }}
    runs-on: ubuntu-latest

    needs: pre_job
    # NOTE: We always want to run job on main branch
    if: ${{ needs.pre_job.outputs.should_skip != 'true' || github.ref == 'refs/heads/main' }}

    strategy:
      fail-fast: false
      matrix:
        k8s_version:
          - 'v1.16.4'
          - 'v1.17.2'
          - 'v1.22.2'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Chart Testing Environment and Kubernetes Cluster
        uses: ./.github/actions/setup-chart-testing-environment/
        with:
          k8s_version: "${{ matrix.k8s_version }}"
          github_token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Install Scalyr tool
        run: |
          curl https://raw.githubusercontent.com/scalyr/scalyr-tool/master/scalyr > scalyr
          chmod +x scalyr
          sudo mv scalyr /usr/local/bin

      - name: Install Helm Chart
        uses: ./.github/actions/install-helm-chart
        with:
          scalyr_api_key: "${{ secrets.SCALYR_WRITE_API_KEY_US }}"
          values_file_path: "ci/daemonset-agent-values.yaml"

      - name: Verify Agent Logs are Ingested
        env:
          scalyr_readlog_token: "${{ secrets.SCALYR_READ_API_KEY_US }}"
          SCALYR_AGENT_POD_NAME: "${{ env.SCALYR_AGENT_POD_NAME }}"
        run: |
          # Verify agent and kubernetes monitor has been started
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/agent.log" "Starting scalyr agent..."'
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/agent.log" "No checkpoints were found. All logs will be copied starting at their current end"'

          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/agent.log" "Cluster name detected, enabling k8s metric reporting"'
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/agent.log" "kubernetes_monitor parameters: "'

          # Verify Kubernetes metrics are beeing ingested
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/kubernetes_monitor.log" "k8s-daemon-set=\"scalyr-agent\""'

      # We install Redis helm chart and later verify that logs from Redis pods are successfully ingested
      - name: Install Redis Helm Chart
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm install --wait --values ci/redis-values.yaml redis-test bitnami/redis

          sleep 20

      - name: Verify Redis Pods Logs are Ingested
        env:
          scalyr_readlog_token: "${{ secrets.SCALYR_READ_API_KEY_US }}"
          SCALYR_AGENT_POD_NAME: "${{ env.SCALYR_AGENT_POD_NAME }}"
        run: |
          # master pod
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile contains "redis" pod_name="redis-test-master-0" "Redis is starting"'
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile contains "redis" pod_name="redis-test-master-0" "Configuration loaded"'

          # replica pod
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile contains "redis" pod_name="redis-test-replicas-0" "MASTER <-> REPLICA sync started"'

      # TODO: Enable once the repo has been moved
      # - name: Notify Slack on Failure
      #   # NOTE: github.ref is set to pr ref (and not branch name, e.g. refs/pull/28/merge) for pull
      #   # requests and that's why we need this special conditional and check for github.head_ref in
      #   # case of PRs
      #   if: ${{ failure() && (github.ref == 'refs/heads/main' || github.head_ref == 'main') }}
      #   uses: act10ns/slack@e4e71685b9b239384b0f676a63c32367f59c2522 # v1.2.2
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      #   with:
      #     status: ${{ job.status }}
      #     steps: ${{ toJson(steps) }}
      #     channel: '#cloud-tech'

  deployment_controller_type:
    name: Deployment - k8s ${{ matrix.k8s_version }}
    runs-on: ubuntu-latest

    needs: pre_job
    # NOTE: We always want to run job on main branch
    if: ${{ needs.pre_job.outputs.should_skip != 'true' || github.ref == 'refs/heads/main' }}

    strategy:
      fail-fast: false
      matrix:
        k8s_version:
          - 'v1.16.4'
          - 'v1.17.2'
          - 'v1.22.2'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Chart Testing Environment and Kubernetes Cluster
        uses: ./.github/actions/setup-chart-testing-environment/
        with:
          k8s_version: "${{ matrix.k8s_version }}"
          github_token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Install Scalyr tool
        run: |
          curl https://raw.githubusercontent.com/scalyr/scalyr-tool/master/scalyr > scalyr
          chmod +x scalyr
          sudo mv scalyr /usr/local/bin

      - name: Install Helm Chart
        uses: ./.github/actions/install-helm-chart
        with:
          scalyr_api_key: "${{ secrets.SCALYR_WRITE_API_KEY_US }}"
          values_file_path: "ci/deployment-agent-values.yaml"

      - name: Verify Logs are Ingested
        env:
          scalyr_readlog_token: "${{ secrets.SCALYR_READ_API_KEY_US }}"
          SCALYR_AGENT_POD_NAME: "${{ env.SCALYR_AGENT_POD_NAME }}"
        run: |
          export POD_NAME=$(kubectl get pod --selector=test=true -o jsonpath="{.items[0].metadata.name}")

          # Verify agent and kubernetes monitor has been started
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/agent.log" "Starting scalyr agent..."'
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/agent.log" "No checkpoints were found. All logs will be copied starting at their current end"'

          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/agent.log" "Cluster name detected, enabling k8s metric reporting"'
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/agent.log" "kubernetes_monitor parameters: "'

          # Verify Kubernetes metrics are beeing ingested
          ./ci/scripts/scalyr-query.sh '$serverHost="'${SCALYR_AGENT_POD_NAME}'" $logfile="/var/log/scalyr-agent-2/kubernetes_monitor.log" "k8s-deployment=\"scalyr-agent\""'

      # TODO: Enable once the repo has been moved
      # - name: Notify Slack on Failure
      #   # NOTE: github.ref is set to pr ref (and not branch name, e.g. refs/pull/28/merge) for pull
      #   # requests and that's why we need this special conditional and check for github.head_ref in
      #   # case of PRs
      #   if: ${{ failure() && (github.ref == 'refs/heads/main' || github.head_ref == 'main') }}
      #   uses: act10ns/slack@e4e71685b9b239384b0f676a63c32367f59c2522 # v1.2.2
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      #   with:
      #     status: ${{ job.status }}
      #     steps: ${{ toJson(steps) }}
      #     channel: '#cloud-tech'
